body{
    background-color: #333333;
    color: white
}
a{
    color: cornflowerblue
}
.container_main{
    display: flex;
    margin-left: 15%;
    margin-right: 15%
}
.container_news, .container_updates{
    flex-grow: 1
}